### Load and Transform
This notebook represents the __Load__ and __Transform__ steps of data engineering. 

We are going to split the songs data into two relational tables so that the data is query ready.

In [ ]:
%sql
-- SELECT DISTINCT Columns from raw_song_data
SELECT *
FROM raw_song_data
LIMIT 1;

In [ ]:
%sql
CREATE OR REPLACE TABLE
    artists (
        artist_id STRING,
        -- TODO: Create table with artist_name, artist_location, artist_lat, artist_long, and processed_time columns with appropriate types
        );

INSERT INTO artists
    SELECT DISTINCT
        artist_id,
        -- TODO: Insert into the table
    FROM raw_song_data
    WHERE artist_id IS NOT NULL;

In [ ]:
%sql 
-- TODO: Create table with song_id, title, artist_id, year, duration, song_popularity, and loudness columns with appropriate types. 

-- Additional Data Engineering Steps:
-- 1. Change the year column to be NULL if the value is 0
-- 2. Change the column name song_hotnes to song_popularity
-- 3. Add column `processed_time`: a timestamp column with the time the data was processed

-- 4 (Stretch). Add column `length`: a categorical column with the values 'Short', 'Medium', 'Long', and 'Extra Long' based on the duration of the song